root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,rb,vim,yml,yaml,graphql,gql,tf}]
indent_size = 2

[{Podfile,Gemfile}]
indent_size = 2

[*.{php,sh,bash,fish,java}]
indent_size = 4
