[user]
	email = gosho-kazuya@919.jp
	name = gosho-kazuya
[alias]
    st = status
    c = commit
    a = add
    ca = commit -a
    cam = commit -am
    d = diff
    dh = diff HEAD
    dw = diff -w --word-diff
    br = for-each-ref --sort=committerdate refs/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    today = log --oneline --since='12 hour ago'
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    ls = ls-files
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    co = checkout

[push]
	default = matching
[core]
	quotepath = false
[http]
	postBuffer = 1048576000
