*

!/.gitignore
!/.gitconfig

!/.vimrc

!/.screenrc
!/.screen
!/.screen/*

# Write here for bash and zsh file
!/.profile.d
!/.profile.d/*

!/.bashrc
!/.bash
!/.bash/*

!/.zshrc
!/.zsh
!/.zsh/*

# My scripts
!/bin
!/bin/*

# Emacs
!/.emacs.d
!/.emacs.d/init.el
!/.emacs.d/Cask
!/.emacs.d/lisp
!/.emacs.d/lisp/*

# Xfce4
!/.config
!/.config/Xmodmap
!/.config/wallpapers
!/.config/wallpapers/*
!/.config/fcitx
!/.config/fcitx/config
!/.config/touchegg
!/.config/touchegg/touchegg.conf
!/.config/autostart
!/.config/autostart/touch.sh
!/.config/xfce4
!/.config/xfce4/xfconf
!/.config/xfce4/xfconf/xfce-perchannel-xml
!/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
!/.config/terminator
!/.config/terminator/config

# Dictionary
!/.mozc
!/.mozc/user_dictionary.db

