.config/*
!.config/openbox
!.config/awesome
!.config/terminator
!.config/touchegg
!.config/wallpapers
!.config/fish
!.config/nvim
!.config/systemd

.emacs.d/*
!.emacs.d/Cask
!.emacs.d/conf.el
!.emacs.d/conf.d
!.emacs.d/lisp

.subversion
