[user]
	email = gosho-kazuya@919.jp
	name = gosho-kazuya
[alias]
    a = add
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    br = branch
    brd = !git branch | fzf | xargs git branch -D
    cam = commit -am
    co = checkout
    col = !git checkout $(git branch | fzf-tmux)
    cor = !git checkout $(git branch --remote | grep -v HEAD | perl -pe "s@origin/@@" | fzf-tmux)
    d = diff
    dh = diff HEAD
    dw = diff -w --word-diff
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = ls-files
    pushthis = !git push origin $(git branch --contains=HEAD | awk '{print $2}')
    st = status -uall
    remote = remote -v
    today = log --oneline --since='12 hour ago'

[push]
	default = matching
[core]
	quotepath = false
[http]
	postBuffer = 1048576000
[ghq]
    root = ghq
