.config/*
!.config/openbox
!.config/awesome
!.config/terminator
!.config/touchegg
!.config/wallpapers
!.config/fish
!.config/nvim
!.config/systemd
!.config/fcitx
.config/fcitx/*
!.config/fcitx/config

# Spacemacs things
.emacs.d

.emacs.d.bak/*
!.emacs.d.bak/init.el
!.emacs.d.bak/Cask
!.emacs.d.bak/conf.el
!.emacs.d.bak/terminal.el
!.emacs.d.bak/conf.d
!.emacs.d.bak/lisp

.vim/*
!.vim/after
!.vim/indent
!.vim/ftplugin
!.vim/filetype.vim

tags
TAGS
.subversion
/.cache
