xterm*reverseVideo: on
xterm*utf8              : 1
xterm*locale            : true
xterm*selectToClipboard : true
xterm*termName          : screen-256color
xterm*faceSize          : 10
xterm*faceName          : Noto Mono:antialias=true
xterm*faceNameDoublesize: Source Han Sans JP
xterm*cjkWidth          : true
xterm*saveLines         : 2000
xterm*geometry          : 100x30+300+100
xterm.VT100.EightBitInput: false

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs*FontBackend: xft
Emacs*font: Source Code Pro 10

# no need?
#Emacs25*useXIM: false
Emacs*useXIM: false

# disabled for color-theme
#Emacs*reverseVideo: on 
