[user]
	email = ketsume0211@gmail.com
	name = gosho-kazuya
[alias]
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    a = add
    br = branch
    cm = commit -am
    co = checkout
    cz = !git checkout $(git branch | fzf-tmux)
    d = diff
    dh = diff HEAD
    dhw = diff HEAD
    dw = diff -w --word-diff
    f = fetch
    ls = ls-files
    pl = !git pull origin $(git branch --contains=HEAD | awk '{print $2}')
    ps = !git push origin $(git branch --contains=HEAD | awk '{print $2}')
    re = remote -v
    td = log --stat --oneline --since='12 hour ago'
    show-merge = !git diff $(git show | grep Merge | head -1 | awk '{print $2"..."$3}')

[push]
	default = matching
[core]
	quotepath = false
[http]
	postBuffer = 1048576000
[ghq]
    root = ~/ghq
[pull]
	rebase = false
