[user]
	email = ketsume0211@gmail.com
	name = Kay Gosho
[alias]
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    a = add
    br = branch
    cm = commit -am
    co = checkout
    col = !git checkout $(git branch | fzf-tmux --no-preview)
    d = diff
    dh = diff HEAD
    dhw = diff HEAD
    dw = diff -w --word-diff
    f = fetch
    ls = ls-files
    pl = !git pull origin $(git branch --contains=HEAD | awk '{print $2}')
    ps = !git push origin $(git branch --contains=HEAD | awk '{print $2}')
    re = remote -v
    td = log --stat --oneline --since='12 hour ago'
    show-merge = !git diff $(git show | grep Merge | head -1 | awk '{print $2"..."$3}')

[push]
	default = matching
[core]
	quotepath = false
  pager = delta
[http]
	postBuffer = 1048576000
[pull]
	rebase = false
[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only --true-color=never

[delta]
    navigate = false  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = false
    hunk-header-style = omit
    file-style = black bold "#f0f0f0"
    plus-style = syntax "#133b13"
    minus-style = syntax "#3b1313"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff "lockb"]
	textconv = bun
	binary = true
