snippet cls "Class"
<?php

namespace App;

class ${2:`!v expand('%:t:r')`}
{

}
endsnippet

snippet mdl "Model"
<?php

namespace App\Models;

use Illuminate\Database\Eloquent\Model;

class ${2:`!v expand('%:t:r')`} extends Model
{

}
endsnippet

snippet tst "Model"
<?php

namespace Tests\GraphQL;

use Tests\TestCase;

class ${2:`!v expand('%:t:r')`} extends TestCase
{
    public function testBasicTest()
    {
    }
}
endsnippet
