chromium
compiz-1
composer
dconf
enchant
evolution
fcitx
!fcitx/config
freerdp
gedit
gnome-session
gtk-2.0
gtk-3.0
ibus
libaccounts-glib
libreoffice
matplotlib
menus
mimeapps.list
mono.addins
nautilus
openbox
pulse
terminator
Thunar
totem
touchegg
transmission
Trolltech.conf
unity
update-notifier
upstart
user-dirs.dirs
user-dirs.locale
vivaldi
VirtualBox
vlc
wallpapers
xfce4
xfce4-session
yelp
