[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/k-gosho/Desktop/03_社内ルール関連 - ショートカット.lnk]
row=5
col=0

[/home/k-gosho/Desktop/mypc.ttl - ショートカット.lnk]
row=3
col=0

[/home/k-gosho/Desktop/mcattest-gosho.xva]
row=2
col=0

[/home/k-gosho/Desktop/ユーザ管理 - ショートカット.lnk]
row=1
col=0

[/home/k-gosho/Desktop/share (172.16.25.219).lnk]
row=0
col=0

[/home/k-gosho/Desktop/engineer_unit - ショートカット.lnk]
row=4
col=0

[/home/k-gosho/Desktop/エリア別求人数_競合比較.xlsx]
row=9
col=0

[/home/k-gosho/Desktop/images]
row=6
col=0

[/home/k-gosho/Desktop/desktop.ini]
row=8
col=0

[/home/k-gosho/Desktop/マーケット企画部_クリーンオフィス当番表_160608.xlsx]
row=7
col=0

