[Unit]
Description=Before suspend script
Before=sleep.target

[Service]
Type=simple
ExecStart=/bin/sh -c "sleep 10 && light -I"

[Install]
WantedBy=sleep.target
