[Unit]
Description=Before suspend script
Before=sleep.target

[Service]
Type=simple
ExecStart=/bin/sh -c "light -S `cat /tmp/brightness-value`"

[Install]
WantedBy=sleep.target

