[Unit]
Description=wayremap on startup with 10 seconds delay

[Service]
Type=oneshot
ExecStart=/usr/bin/python /etc/wayremap-lenovo.config.py
ExecStartPre=/bin/sleep 1
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
